@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container{
  height: 100%;
}
.overlay{
  z-index: 1000;
}
.style-select{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}
.map-container {
  height: 100%;
}